.marginLabel{
    margin: 13px 0px 13px 13px;
}

.title{
    font-size: 13px;
    font-weight: bold;
}

.mainTitle{
    font-size: 18px;
    font-weight: bold;
}

.cellBody{
    border: 2px outset #1a1f71;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.button{
    background-color: #003ea9;
    bottom: 0;
    margin-bottom: 1%;
    position: absolute;
}